/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Acme', sans-serif; */

html,
body{
  height: 100%;
  width: 100%;
  margin:0;
  overflow: hidden;
}

.scrollstyle{
  overflow-y:auto;
  max-height: 600px;
  overflow-x:auto;
}

body{
  background-color: rgb(24, 24, 24);
  font-family: 'Josefin Sans', sans-serif;
  color:white;
}

hr{
  background-color: white;
}

h1{
  font-family: 'Acme', sans-serif;
}
