{% extends 'groups/group_base.html' %}

  {% block pregroup %}
    <!-- <div class="container"> -->
      <div class="col-md-4">
        <h1>{{group.name}}</h1>
        <hr>
        <h4>Member{{group.members.count|pluralize}}: {{group.members.count}}</h4>

        {% if user in group.members.all %}
          <a href="{% url 'posts:new' %}" class='btn btn-primary'>Create New Post</a>
          <a href="{% url 'groups:leave' slug=group.slug %}" class='btn btn-danger'>Leave</a>
        {% else %}
          <a href="{% url 'groups:join' slug=group.slug %}" class='btn btn-warning'>Join</a>
        {% endif %}
      </div>
    <!-- </div> -->
   {% endblock %}

   {% block groupcontent %}
     <div class="col-md-8">
       <div class="scrollstyle">
       {% if group.posts.count == 0 %}
        <h1>No Posts yet!</h1>
      {% else %}
        {% for post in group.posts.all %}
          {% include 'posts/_post.html' %}
        {% endfor %}
      {% endif %}
      </div>
     </div>
   {% endblock %}
