{% extends 'groups/group_base.html' %}
 {% load bootstrap4 %}

 {% block pregroup %}
    <div class="container">
      <h1>Create a New Group:</h1>
    </div>
 {% endblock %}


  {% block groupcontent %}
     <div class="col-md-8">
       <form method="post">
         {% csrf_token %}
         {% bootstrap_form form %}
         <button type="submit" class="btn btn-primary btn-lg">
           <i class="fa fa-check" aria-hidden="true"></i> Create</button>
       </form>
     </div>
  {% endblock %}
