<!-- <div class="col-md-8"> -->
  <div class="main_content">
    <h5>
      <a href="{% url 'posts:for_user' username=post.user.username %}">@{{post.user.username}}</a>
      {{post.message_html|safe}}
      <time><a href="{% url 'posts:detail' username=post.user.username pk=post.pk %}">{{post.created_at}}</a></time>
      {% if post.group %}
        <a href="{% url 'groups:detail' slug=post.group.slug %}">In the group {{post.group.name}}</a>
      {% endif %}
    </h5>

    {% if user.is_authenticated and post.user == user and not hide_delete %}
      <a href="{% url 'posts:delete' pk=post.pk %}" class='btn btn-danger'>Delete Post</a>
    {% endif %}
    <hr>
  </div>
<!-- </div> -->
