{% extends 'posts/post_base.html' %}
  {% block pre_body %}
    <div class="col-md-4">
      <br>
      {% if request.user.is_authenticated %}
        <h3>Your Groups:</h3>
        <ul>
          {% for member_group in member_groups %}
            <li>
              <h5><a href="{% url 'groups:detail' slug=member_group.slug %}">{{member_group.name}}</a></h5>
            </li>
          {% empty %}
              <h5>Not a member of any group!</h5>
          {% endfor %}
        </ul>
      {% endif %}
      <hr>
      <h3>Other Groups:</h3>
      <ul>
        {% for othergroup in other_groups %}
          <li>
            <h5><a href="{% url 'groups:detail' slug=othergroup.slug %}">{{othergroup.name}}</a></h5>
          </li>
       {% empty %}
          <h5>No other group.</h5>
       {% endfor %}
      </ul>
    </div>
  {% endblock %}

  {% block body %}
    <div class="col-md-8">
      <div class="scrollstyle">
        {% for post in post_list %}
          {% include 'posts/_post.html' %}
        {% endfor %}
      </div>
    </div>
  {% endblock %}
